@model List<SuperMarket.Project.Entity.Product>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/views/shared/LoginLayout.cshtml";
}

<div class="container">
    <div >
        <h2 class="d-flex justify-content-center">WellCome To SuperMarket</h2>
        <br />
        <h4 class="d-flex justify-content-center">
            @ViewData["Name"]
        </h4>
    </div>
    

</div>